[Desktop Entry]
Type=Application
Name=Syncthing
Comment=Launches Syncthing web GUI
Icon=utilities-terminal
Terminal=false
Exec=firefox https://localhost:8384
