@import '/home/thas/.cache/wal/colors-waybar.css';
* {
  font-family: Iosevka;
  font-size: 12pt;
  color: @cursor;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  background: alpha(@background, 0.7);
}

#window,
#memory,
#disk,
#pulseaudio,
#custom-weather,
#cpu,
#temperature,
#battery,
#backlight,
#clock {
  padding-left: 1rem;
  padding-right: 1rem;
}


#workspaces {
  background: alpha(@background, 0.8);
  color: @cursor;
  font-weight: bold;
  border-radius: 1rem 1rem 1rem 1rem;
}
#workspaces button {
  background: transparent;
}

#workspaces button.focused {
  background: alpha(@color8, 0.8);
  border-radius: 1rem;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
  border-radius: 1rem;
}
