[Desktop Entry]
Type=Application
Name=Launchapps Startup
Comment=Launches Syncthing Web-GUI
Icon=utilities-terminal
Terminal=false
Path=/home/thas/.config/launchapps/
Exec=launchapps
