[Desktop Entry]
Type=Application
Name=Launchapps Startup
Comment=Launches Syncthing Web-GUI
Icon=utilities-terminal
Terminal=false
Exec=~/.config/launchapps/launchapps
